* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
  color: #5d2313;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  padding-top: 300px;
}

.container , .section-container {
  width: 85%;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.div-40 {
  width: 40%;
  float: left;
}

.div-60 {
  width: 60%;
  float: right;
}

p {
  margin-bottom: 20px;
  line-height: 1.7;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background-color: rgb(253, 251, 251);
}

#cabecalho section {
  margin-top: 50px;
  margin-bottom: 30px;
}

h1 {
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
}

#cabecalho span {
  display: inline-block;
  width: 45px;
  border-top: 3px solid #5d2313;
  margin-top: 0;
}

.nav-principal ul {
  background-color: rgb(255, 197, 201);
}

.nav-principal li {
  display: inline-block;
  margin-right: -5px;
}

.nav-principal li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
}

.nav-principal li a:hover {
  background-color: white;
  color: inherit;
}

#conteudo {
  padding-top: 30px;
  padding-bottom: 30px;
}

#minha_foto {
  width: 360px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 5px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h3 {
  margin-bottom: 10px;
}

#conteudo h3 , #conteudo ol , #conteudo ul {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: 400;
}

#conteudo ol {
  margin-bottom: 25px;
}

#aprendizado {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: rgba(255, 197, 201, 0.397);
}

.lado-esquerdo {
  width: 60%;
  float: left;
  margin-left: 10%;
  padding: 20px 40px 20px 20px;
}

.lado-direito {
  width: 20%;
  float: right;
  margin-right: 10%;
  padding: 20px;
  border: 5px solid white;
}

#aulas {
  clear: both;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

#aulas h3 {
  margin-bottom: 40px;
}

#aulas-agenda {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#aulas-agenda , #aulas-agenda th , #aulas-agenda td {
  border: 1px solid #5d2313;
}

#aulas-agenda th , #aulas-agenda td {
  padding-right: 30px;
}

#aulas-agenda td {
  text-align: left;
}

#aulas-agenda tr:nth-child(odd) {
  background-color: rgba(255, 197, 201, 0.397);
}


footer {
  background-color: rgb(255, 197, 201);
  height: 170px;
  text-align: center;
  padding-top: 60px;
}
